# Binaries
/api
/api.exe
*.test
*.out

# Environment variables
.env
!.env.example

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Go
vendor/

# Local Compiler Toolchain
w64devkit-mini/
